<div class="col-md-4">
    <div ng-show="User">
        <fieldset>
            <input type="search" ng-model="search" class="form-control" placeholder="Search">
        </fieldset>
        <br/>
        <ul class="list-group">
            <li  ng-click="getLikes(dj.id)" ng-class="" class="active list-group-item clear" style="display: block; text-align: left;" ng-repeat="dj in followers | filter:search">
                <a href="{{dj.permalink_url}}" class="active">
                    <img height="60px" style="margin-right: 30px;" class="img-rounded" src="{{dj.avatar_url}}" alt="...">
                </a>
                <a>{{dj.username}}</a>
                <span class="badge">{{dj.followers_count}}</span>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-8">
    <iframe id="sc-widget" ng-show="User" src="http://w.soundcloud.com/player/?url=https://api.soundcloud.com/tracks/124634827&amp;color=ff6600&amp;auto_play=false&amp;show_artwork=false" width="100%" height="166" scrolling="no" frameborder="no" ></iframe>
    <ul class="list-group">
        <a ng-click="togglePlay(fav.uri)" ng-class="isActive(this)" class="list-group-item" ng-repeat="fav in favs">
            <span>{{fav.title}}</span>
        </a>
    </ul>
</div>

